/* Variables */
:root {
    --squareWidth: 60px;
}

/* Generals */

header {
    background-color: #ffffff;
}

header img {
    padding-right: 10px;
}

body {
    background-color: #9EFDD5;
}

main {
    padding: 100px 0;
}

.square {
    width: 60px;
    aspect-ratio: 1;
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cdBlueBg {
    background-color: #6E94EA;
}

footer {
    background-color: #ffffff;
}


/* Grid */